<h1><a href="/">ストリートコンピューティング</a></h1>


<% if logged_in? %>
    <% form_for(@photo) do |f| %>
        <%= f.label "画像URL" %>  <%= f.text_field :url %>  <%= f.submit "追加する" %>
    <% end %>
    <%= link_to 'logout', :controller => 'sessions', :action => 'destroy' %>
<% end %>

<div class="autopagerize_page_element">
<% for p in @photos %>
    <%= image_tag(h(p.url), :class => "photo") %><br />
    <% if logged_in? %>
      <%= link_to 'delete', :action => 'delete', :id => p.id %><br />
    <% end %>
<% end %>
    <%= will_paginate(@photos)  %>
</div>
<div class="autopagerize_insert_before"></div>
